@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


h1{
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    color: white;
}

p{
    font-family: "Montserrat";
}

li {
    font-family:"Montserrat"
}

body{
    background-color: black;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-container > div{
    background-color: pink;
    width: 400px;
    margin: 40px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    color: black;
    padding-top: 10px;
}