@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');

h1{
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
}

p{
    font-family: "Montserrat";
}

li {
    font-family:"Montserrat"
}

.loco{
    background-color: aqua;
}