@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

a {
    color:rgb(209, 84, 105);
    font-family: "Montserrat";
    font-size: 30px;
    text-decoration: none;
    padding: 30px;
}

a{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 30px ;
}

.navlink{
    list-style: none;
}
.navlink li {
    display: inline-block;
    justify-content: space-between;
    
}

body{
    background-image: url(https://lv2-cdn.azureedge.net/itzy/7b278d81515d43f89cd2e0e0e481620f-%EB%9F%AC%EB%B9%84%EB%8D%94%EB%B9%84_l.jpg);
    background-size: cover;
}
section{
    filter: brightness(50%);
}
h2{ 
    color:whitesmoke;
    text-decoration: underline;
    font-family: "Montserrat";
    font-size:30px;
}
p{
    font-family:"Montserrat";
    color: white;
}
h1{
    text-decoration: none;
    font-size: 50px;
}
