@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding:0;

}


ul {
    list-style: none;
    font-family: "Montserrat";
    font-size: 30px;
}

body{
  background-size: cover;
}
.brgimg{
  background: rgba(0,0,0,0.3);
  
}
h2{ 
    color:white;
    text-decoration: underline;
    font-family: "Montserrat";
    font-size:30px;
}
p{
    font-family:"Montserrat";
    color: white;
}
h1{
    text-decoration: none;
    font-size: 50px;
    font-family: "Montserrat";
    color: #ffffff;
}

.navlink li{
  display: inline-block;
  padding: 0 40px;
  
}
li, a{
  text-decoration: none;
  color:rgb(241, 53, 84);
  margin : 20px;
}

.about{
  display: flex;
  flex-wrap:wrap;
  align-items: flex-end;
  
}



/* Add some content at the bottom of the video/page */
.content {
  position:fixed;
  bottom: 0;
  background: rgba(230, 219, 219, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 50px;

}

