@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

h1{
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
}

body{
    background-color: pink;
}
  
.flex-container{
    display: flex;
    flex-direction: row;
}

  .flex-container > div {
    background-color: #f1f1f1;
    width: 400px;
    margin: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    font-family: "Montserrat";
   
  }

.sns li{
    display: inline-block;
}